/* General Styles */
body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;

    background-color: #CBCBCB;
    color: #FFFFFF;
}

.body-2 {
    display: flex;
    width: fit-content;

    margin: auto;
}

a {
    text-decoration: none;

    color: #FFFFFF;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.yellow {
    color: yellow;
}

p {
    text-align: justify;
}

/* Sidebar Styles */
aside {
    min-width: 330px;
    max-width: 397px;
    min-height: 820px;

    background: #212121;
    justify-content: center;
}

.aside-start {
    height: 80%;
}

.sidebar-block {
    margin: 15px 10px 0 30px;
}

.sidebar-block h2 {
    font-size: 20px;
    line-height: 24px;
}

/* Profile */
.profile {
    display: block;

    margin: 26px auto 0 auto;
}

/* Contacts */
.contacts ul {
    list-style-type: none;
    padding: 0;
}

.contacts ul li {
    display: flex;

    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.265em;
}

.c-2 {
    margin-top: 11px;
}

/* Skills */
.skills-ul {
    list-style-type: circle;

    padding: 0;
    margin: 0;
}

.skills-ul li {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.265em;

    margin-left: 20px;
}

/* Social and Portfolio */
.live-work {
    width: 178px;
    height: 53px;

    text-align: center;
    margin: 14px auto 0 auto;

    background-image: url(img/liveWork.svg);
}

.live-work button {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.265em;

    color: #000000;

    padding-top: 6px;
}

.social-links {

    display: flex;
    width: 269px;

    margin: 5px auto 31.5px auto;
}

.instagram {
    width: 36.67px;
    height: 36.67px;

    margin-right: 19.33px;

    background-image: url(img/icons/instagram.svg);
}

.instagram:hover {
    width: 36.67px;
    height: 36.67px;

    margin-right: 19.33px;

    background-image: url(img/iconsColor/instagramColor.svg);
}

.telegram {
    width: 40px;
    height: 40px;

    margin-right: 26px;

    background-image: url(img/icons/telegram.svg);
}

.telegram:hover {
    width: 40px;
    height: 40px;

    margin-right: 26px;

    background-image: url(img/iconsColor/telegramColor.svg);
}

.figma {
    width: 26.67px;
    height: 40px;

    margin-right: 27.33px;

    background-image: url(img/icons/figma.svg);
}

.figma:hover {
    width: 26.67px;
    height: 40px;

    margin-right: 27.33px;

    background-image: url(img/iconsColor/figmaColor.svg);
}

.email {
    width: 35px;
    height: 27.5px;

    margin-right: 23px;

    background-image: url(img/icons/email.svg);
}

.email:hover {
    width: 35px;
    height: 27.5px;

    margin-right: 23px;

    background-image: url(img/iconsColor/emailColor.svg);
}

.behance {
    width: 35px;
    height: 35px;

    background-image: url(img/icons/behance.svg);
}

.behance:hover {
    width: 35px;
    height: 35px;

    background-image: url(img/iconsColor/behance.Color.svg);
}

/* Dialog */
dialog {
    background: none;
    border: 0px;
}

dialog span {
    display: block;
}

.dialog-up,
.dialog-down {
    max-width: 1440px;
    height: 314px;
}

.dialog-middle {
    display: flex;
}

.dialog-left,
.dialog-right {
    max-width: 335px;
    height: 247px;
}

.dialog-inside {
    display: flex;

    max-width: 771px;
    height: 247px;

    border-radius: 18px;

    background-color: #FFFFFF;
}

.dialog-block {
    max-width: 313px;
    height: 207px;

    border: 1px solid #000000;
    border-radius: 30px;
}

.dialog-block-title {
    margin-top: 14px;
}

.internet-store {
    margin: 25px 91px auto 30px;
    text-align: center;
}

.internet-store-img {
    margin-top: 32px;
}

.dialog-button-store {
    display: block;

    width: 93px;
    height: 34px;

    text-align: center;
    border-radius: 20px;

    margin: 22px auto auto auto;

    background: #0C2D6C;
}

.mobile-app {
    margin-top: 25px;
    text-align: center;
}

.mobile-app-img {
    margin-top: 38px;
}

.dialog-button-app {
    display: block;

    width: 93px;
    height: 34px;

    border-radius: 20px;

    margin: 28px auto auto auto;

    background: #0C2D6C;
}

.watch {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.265em;

    padding-top: 7px;
}


/* Main styles */
main {
    max-width: 1043px;

    background-color: #303030;
}

.main-block {
    margin-left: 71px;
}

.main-title {
    font-weight: 700;
    font-size: 20px;

    line-height: 24px;
    letter-spacing: 0.265em;
}

/* Title */
.site-title {
    margin-top: 63px;
}

.site-title span {
    font-weight: 400;
    font-size: 12px;

    line-height: 15px;
    letter-spacing: 0.265em;

    color: #A9A9A9;
}

h1 {
    font-weight: 700;
    font-size: 32px;

    letter-spacing: 0.265em;
}

/* About */
.about {
    margin-top: 47px;
}

.about p {
    max-width: 491px;
    height: fit-content;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.265em;

    margin-right: 30px;
}

/* Work Experience */
.work-experience {
    margin-top: 22px;
}

.work-experience h3 {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.265em;

    margin-top: 7px;
    margin-bottom: 0px;
}

.work-experience h4 {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.265em;

    color: #A9A9A9;
    margin: 0;
}

.work-experience ul {
    padding: 0;
    margin-top: 9px;

    list-style-type: none;
}

.work-experience ul li {
    max-width: 440px;

    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.265em;

    margin-bottom: 13px;
}

.work-experience ul .last-li {
    margin-bottom: 0;
}

/* Design Education */
.design-education {
    margin-top: 77px;
}

.design-education ul {
    padding-left: 17px;
}

.design-education ul li {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.265em;
}