body {
    font-family: 'Montserrat';
    font-style: normal;
    background-color: #CBCBCB;
}

.body-2 {
    display: flex;
    width: fit-content;
    margin: auto;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

span {
    display: block;
}

/* Sidebar styles */
aside {
    width: 397px;
    /* height: 1024px; */
    color: #FFFFFF;

    background: #212121;
}

.profile {
    display: block;

    margin: 26px auto 0 auto;
}

.sidebar-block {
    margin: 36px auto 0 79px;
}

.contacts-ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.contact {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: 0.265em;

    color: #FFFFFF;
}

.c-2 {
    margin-top: 11px;
}

.skills-ul {
    list-style-type: circle;
    padding: 0;
    margin: 0;
}

.skills-li {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    letter-spacing: 0.265em;

    margin-left: 20px;

    color: #FFFFFF;
}

.live-work {
    width: 178px;
    height: 53px;
    background-image: url(img/liveWork.svg);
    text-align: center;

    margin-top: 14px;
    margin: 14px auto 0 auto;
}

.live-work-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.265em;

    color: #000000;

    padding-top: 6px;
}

.social-links {
    display: flex;
    width: 269px;
    margin: 5px auto auto auto;
}

.instagram {
    width: 36.67px;
    height: 36.67px;
    margin-right: 19.33px;
    background-image: url(img/icons/instagram.svg);
}

.instagram:hover {
    width: 36.67px;
    height: 36.67px;
    margin-right: 19.33px;
    background-image: url(img/iconsColor/instagramColor.svg);
}

.telegram {
    margin-right: 26px;
    width: 40px;
    height: 40px;
    background-image: url(img/icons/telegram.svg);
}

.telegram:hover {
    margin-right: 26px;
    width: 40px;
    height: 40px;
    background-image: url(img/iconsColor/telegramColor.svg);
}

.figma {
    margin-right: 27.33px;
    width: 26.67px;
    height: 40px;
    background-image: url(img/icons/figma.svg);
}

.figma:hover {
    margin-right: 27.33px;
    width: 26.67px;
    height: 40px;
    background-image: url(img/iconsColor/figmaColor.svg);
}

.email {
    margin-right: 23px;
    width: 35px;
    height: 27.5px;
    background-image: url(img/icons/email.svg);
}

.email:hover {
    margin-right: 23px;
    width: 35px;
    height: 27.5px;
    background-image: url(img/iconsColor/emailColor.svg);
}

.behance {
    width: 35px;
    height: 35px;
    background-image: url(img/icons/behance.svg);
}

.behance:hover {
    width: 35px;
    height: 35px;
    background-image: url(img/iconsColor/behance.Color.svg);
}

dialog {
    background: none;
    border: 0px;
}

.dialog-up {
    width: 1440px;
    height: 388px;
}

.dialog-middle {
    display: flex;
}

.dialog-left {
    width: 335px;
    height: 247px;
}

.dialog-right {
    width: 335px;
    height: 247px;
}

.dialog-down {
    width: 1440px;
    height: 1000px;
}

.dialog-inside {
    width: 771px;
    height: 247px;
    background-color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
    border-radius: 18px;
    display: flex;
}

.dialog-block {
    width: 313px;
    height: 207px;
    left: 0px;
    top: 0px;

    border: 1px solid #000000;
    border-radius: 30px;
}

.dialog-block-title {
    margin-top: 14px;
}

.internet-store {
    margin: 25px 91px auto 30px;
    text-align: center;
}

.internet-store-img {
    margin-top: 32px;
}

.dialog-button-store {
    display: block;
    width: 93px;
    height: 34px;
    text-align: center;

    background: #0C2D6C;
    border-radius: 20px;
    margin: 22px auto auto auto;
}


.mobile-app {
    margin-top: 25px;
    text-align: center;
}

.mobile-app-img {
    margin-top: 38px;
}

.dialog-button-app {
    display: block;
    width: 93px;
    height: 34px;

    background: #0C2D6C;
    border-radius: 20px;
    margin: 28px auto auto auto;
}

.watch {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.265em;
    color: #FFFFFF;
    padding-top: 7px;
}


/* Main styles */
main {
    width: 1043px;
    /* height: 1024px; */

    background-color: #303030;
}